<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968909355038-7stlanrvfj8l2rq2ugl5til1co6vn2ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968909355038-7stlanrvfj8l2rq2ugl5til1co6vn2ml</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>968909355038-ib4h88dh0ig0l331o2ng3dbakeahvias.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5hTJhR6uVawCSxaxaOCctwMFDH0x0gzc</string>
	<key>GCM_SENDER_ID</key>
	<string>968909355038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.happify</string>
	<key>PROJECT_ID</key>
	<string>happify-57eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>happify-57eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968909355038:ios:5cd8459c1d18815538960f</string>
</dict>
</plist>